html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	&.active {
		overflow: hidden;
		height: 100vh;
	}
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: " ";
	content: none;
}
.container-fluid {
	margin: 0;
	padding: 0;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	display: inline-block;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input,
select {
	vertical-align: middle;
}
ul {
	list-style: none;
}

html {
	&::-webkit-scrollbar {
		background-color: #000;
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #2f2625;
		width: 3px;
	}
}
@font-face {
	font-family: "FrankRuehl";
	src: url(../fonts/frank.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	// font-family: "Inter", sans-serif;
	font-family: "Manrope", sans-serif;
}
.wrapper {
	overflow: hidden;
}
.main_title {
	font-family: "FrankRuehl";
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.main_desc {
	color: rgb(105, 105, 105);
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 2%;
	text-align: center;
	margin-bottom: 50px;
}
.dropbtn {
	display: flex;
	gap: 10px;
	align-items: center;
	border: none;
	cursor: pointer;
	user-select: none;
	color: rgb(55, 57, 63);
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 2%;
	text-align: left;
	text-transform: uppercase;
	background-color: transparent;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 140px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 10px;
	padding: 10px 0;
}

.dropdown-content a {
	color: rgb(55, 57, 63);
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 2%;
	text-align: left;
	text-transform: uppercase;
	padding: 10px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}
//
.swiper_button {
	user-select: none;
	position: absolute;
	top: 10px;
	z-index: 4;
	i {
		font-size: 20px;
		border-radius: 50%;
		padding: 30px 34px;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		background: rgb(255, 255, 255);
		transition: all ease-in 0.2s;
	}
	&:hover {
		i {
			background: rgb(9, 66, 53);
			color: #fff;
		}
	}
}

.main_small_title {
	color: rgb(255, 183, 116);
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 2%;
	text-align: center;
	margin-bottom: 13px;
}
.main2_title {
	color: rgb(55, 57, 63);
	font-family: "FrankRuehl";
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0%;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.blog_date {
	color: rgb(255, 183, 116);
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 2%;
	margin-bottom: 20px;
}

.service2_box {
	margin-bottom: 50px;
	ul {
		list-style: disc;
		list-style-position: inside;
		padding-left: 10px;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		li {
			color: rgb(105, 105, 105);
			font-size: 18px;
			font-weight: 400;
			line-height: 28px;
			letter-spacing: 2%;
			text-align: left;
		}
	}
}
.service_right_title {
	color: rgb(55, 57, 63);
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 10px;
}
.service2_right_desc {
	color: rgb(105, 105, 105);
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 2%;
	text-align: left;
}

.service2_lists {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	gap: 5px;
	li {
		border-radius: 10px;
		&:hover,
		&.active {
			background: rgb(9, 66, 53);
			a {
				transition: all ease-in 0.2s;
				color: rgb(255, 255, 255);
			}
		}
		a {
			padding: 12px 20px;
			display: block;
			color: rgb(55, 57, 63);
			transition: all ease-in 0.2s;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			letter-spacing: 0%;
			text-align: left;
		}
	}
}
